.about {
  background-color: var(--color-2);
}

.about .title::after {
  content: 'quem sou eu';
}

.about .container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

.about-left img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

ul.about-social {
  justify-content: space-between;
}

ul.about-social ion-icon {
  color: var(--color-p0);
  transition: all 0.3s ease;
}

ul.about-social ion-icon:hover {
  color: var(--color-p5);
}

.about-social li ion-icon {
  width: 45px;
  height: 45px;
}

.about-text h3 {
  font-size: 1.5625rem;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.3;
}

.about-text span {
  color: var(--color-p5);
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-text p {
  text-align: justify;
  margin-bottom: 1.25rem;
}

.about-skills h3 {
  color: var(--color-p4);
  margin-bottom: 15px;
  font-weight: 400;
}

.about-skills ul {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.about-skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  gap: 10px;
}

.about-skills li i{
 font-size: 3rem;
}

.about-right a.button {
  margin: auto;
}

@media (max-width: 980px) {
  .about .container {
    grid-template-columns: 1fr;
  }

  .about-left {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
  }

  .about-right .about-skills h3 {
    margin-top: 30px;
    line-height: 1.5;
  }

  .about-social {
    gap: 30px;
  }
}
