.about {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-2);
  color: var(--color-p0);
}


.about .title::after {
  content: 'Quem sou eu';
}

.about-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

.about-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

ul.about-social{
  justify-content: space-between;
}

ul.about-social ion-icon{
  color: var(--color-p0);
}

ul.about-social ion-icon:hover{
  color: var(--color-p1);
}

.about-social li ion-icon {
  width: 45px;
  height: 45px;
}

.about-text-content h3{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-text-content span {
  color: var(--color-p1);
} 

.about-content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 

.about-text p {
  text-align: justify;
  margin-bottom : 1.25rem;
}

.skills h3 {
  margin-bottom: 15px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.skills li img {
  height: 3rem;
}

.about-content-right a.button{
  margin: auto;
}



@media(max-width: 980px) {
  .about-content {
    grid-template-columns: 1fr;
  }

  .about-content-left {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
  }

  .about-social ul{
    width: 100vw;
    /* gap: 15px; */
    justify-content: start;
  }
}