:root {
  /* --color-1: #bd93f9;
  --color-2: #373a59;
  --color-3: #282a36; */
  /* --color-3: #060506; */
  /*--color-4: #151515; */
  --color-1: #0E1013;
  --color-2: #282A2D;
  --color-3: #35363A;
  --color-p1: #48d06d;
  --color-p2: #377A2F;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

section{
  padding: 100px 0;
}

.button {
  display: inline-block;
  background: var(--color-p1);
  font-size: 18px;
  padding: 12px 36px;
  border-radius: 6px;
  color: #fff;
  margin-top: 20px;
  border: 2px solid var(--color-p1);
  max-width: max-content;
}

.button:hover {
  color: var(--color-p1);
  background: none;
}



section .title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}

section .title::before {
  content: '';
  position: absolute; 
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: var(--color-p1);
  background-color: var(--color-2);
  padding: 5px;
  transform: translateX(-50%);
}


@media (max-width: 650px){
  section{
    padding: 50px 0;
  }
}