:root {
  --color-1: #bd93f9;
  --color-2: #373a59;
  --color-3: #282a36;
  --color-p1: #48d06d;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}
