.home {
  display: flex;
  background-color: var(--color-6);
  height: 100vh;
  min-height: 500px;
  padding: 150px 0;
}

.home .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.home .text-1 {
  font-size: 1.6875rem;
}

.home .text-2 {
  font-size: 4.6875rem;
  font-weight: 500;
}

.home .text-3 {
  font-size: 2.5rem;
  margin: 5px 0;
}

.home .text-3 span {
  font-weight: 500;
}

@media (max-width: 995px) {
  .home .text-2 {
    font-size: 4rem;
  }

  .home .text-3 {
    font-size: 1.9rem;
  }
}

@media (max-width: 800px) {
  .home .text-2 {
    font-size: 4rem;
  }

  .home .text-3 {
    font-size: 1.7rem;
  }
}

@media (max-width: 695px) {
  .home {
    padding: 50px 0;
  }
  
  .home .container {
    grid-template-columns: 1fr;
  } 

  .home .home-right {
    grid-row: 1;
  }

  .home img {
    height: 300px;
    margin: auto;
  }

}

@media (max-width: 530px) {
  .home .text-2 {
    font-size: 3rem;
  }

  .home .text-3 {
    font-size: 1.35rem;
  }
}
