.projects {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-1);
}

.projects .title::after {
  content: "meus projetos";
}

section.projects .title::after {
  background-color: var(--color-1);
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 25px;
}

.card {
  background-color: var(--color-2);
  border: solid 1px var(--color-p1);
}

.card h3 {
  color: var(--color-1);
  background-color: var(--color-p1);
  padding: 5px;
  text-align: center;
}
.card-content {
  padding: 16px;
  color: #fff;
  text-align: justify;
}

.card-content p {
  margin-top: 15px;
}


