header, footer {
  font-family: 'Ubuntu', sans-serif;
  color: var(--color-p0);
}

section {
  font-family: 'Roboto', sans-serif;
  color: var(--color-p0);
}

p {
  line-height: 1.3;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}