@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 15px 0;
  transition: all .6s ease;
  z-index: 9998;
}

header.stick {
  background-color: #282a36;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  z-index: 9999;
}

header .logo a {
  color: #fff;
  font-size: 2.1875em;
  font-weight: 500;
}

header .logo a span {
  color: #bd93f9;
}

nav ul {
  display: flex;
  gap: 1.5625rem;
}

nav li {
  list-style: none;
}

nav li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #bd93f9;
}

/* menu mobile */
#btn-mobile {
  display: none;
}

/* home */
.home {
  display: flex;
  background-color: #373a59;
  background-image: url(./img/bg-home.svg);
  background-attachment: fixed;
  /* background-size: cover; */
  height: 100vh;
  /* width: 100vw; */
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.home-content .text-1 {
  font-size: 1.6875rem;
}

.home-content .text-2 {
  font-size: 4.6875rem;
  font-weight: 500;
  margin-left: -3px;
}

.home-content .text-3 {
  font-size: 2.5rem;
  margin: 5px 0;
}

.home-content .text-3 span {
  color: #bd93f9;
  /* color: #FF79C6; */
  font-weight: 500;
}

.home-content a {
  display: inline-block;
  background: #bd93f9;
  font-size: 18px;
  padding: 12px 36px;
  border-radius: 6px;
  color: #282a36;
  margin-top: 20px;
  border: 2px solid #bd93f9;
}

.home-content a:hover {
  color: #bd93f9;
  background: none;
}


/* about */
.about {
  font-family: 'Roboto';
}

.about .container {
  padding: 100px 0;
}

.about .title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}

.about .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.about .title::after {
  content: "Quem sou eu";
  position: absolute;
  bottom:-12px;
  left: 50%;
  font-size: 20px;
  color: #373a59;
  background-color: #fff;
  padding: 5px;
  transform: translateX(-50%);
}

.about-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}


@media (max-width: 950px) {
  .container {
    padding: 0px 50px;
  }
  
  .home-content .text-2 {
    font-size: 3.75rem;
    font-weight: 500;
    margin-left: -3px;
  }
  
  .home-content .text-3 {
    font-size: 2rem;
    margin: 5px 0;
  }



}

@media(max-width: 930px) {
  .home .container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .home .container .home-img {
    grid-row: 1;
  }

  .home .container .home-img img{
    height: 300px;
    position: right;
  }
}

@media (max-width: 800px) {
  .menu {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #282a36;
    transition: .6s;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    padding: 70px 0 0 0;
  }

  nav.active .menu {
    height: 100vh;
    visibility: visible;
    z-index: -1;
  }

  nav .menu li a{
    display: inline-block;
    padding: 1rem;
    margin: 0 35px;
  }

  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #bd93f9;
    z-index: 999999;
  }

  .hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid;
  }

  .hamburguer::after,
  .hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  nav.active .hamburguer {
    border-top-color: transparent;    
  }

  nav.active .hamburguer::before {
    transform: rotate(-135deg);
  }

  nav.active .hamburguer::after {
    transform: rotate(135deg);
    top: -7px;
  } 
}

@media (max-width: 540px) {
  .home-content .text-2 {
    font-size: 3.125rem;
  }
  
  .home-content .text-3 {
    font-size: 1.5rem;
  }
}
